:root{
  --yellow:#FFC54D;
  --green:#53BF9D;
  --red:crimson;
  --white: whitesmoke;
}

body h2{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.landing{
    background-image: url(./pexels-thepaintedsquare-858094.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color:var(--white);
}
header a{
    text-decoration: none;
    color:var(--yellow) ;
    min-width: 120px;
    
}
header{
    display: flex;
    padding: 1em;
    row-gap: 1em;
    flex-wrap: wrap;
}
#logo{
    flex: 3;
    font-size: 1.25em;
    min-width:260px ;
}
nav{
    flex: 2;
    display: flex;
    align-items: center;
}
nav a{
    flex: 1;

}
nav a:hover{
    color: var(--green);
}
header h2 i,nav a{
    margin-right: .5em;
}
.maintext{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding: 2em;
}
.tagline1{
    color:var(--red);
    font-weight: bolder;
    font-size: 2.5em;
}
.tagline2{
    color: var(--yellow);
}
.maintext div{
    margin-top:.75em;
}
.maintext button{
    width: 20vh;
    margin-top: 2em;
    border-radius: 10px;
    padding: .7em;
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
}
.menu{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr)) ;
    background:linear-gradient(to right, rgb(100,100,100),rgb(53,52,52) );
    color: var(--white);
}
#menuheading,#locheading{
    background:linear-gradient(to right, rgb(100,100,100),rgb(53,52,52) );
    color: var(--red);
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}
.menu th{
    color: var(--green);
    font-size: 1.8em;
}
table{
    width: 100%;
    padding: 1em;
}
.menu tr{
    display: flex;
    justify-content: center;
    margin-top: .8em;
}
.menu td:nth-child(1){
    flex: 1;
justify-self: left;
}
.menu td:nth-child(2){
    justify-content: right;
}
.maincourse{
    grid-row:span 2;
}
.locations{
    background:linear-gradient(to right, rgb(100,100,100),rgb(53,52,52) );
    color:var(--white);  
    display: flex;
    flex-wrap: wrap;
}
.locations h2{
    color: var(--green);
    margin-bottom: .8em;
}
.locations div{
    flex: 1;
    padding:1em ;
    min-width: 220px;
}
footer{
    background-color: rgb(55,50,55);
    color: var(--white);
    padding: .25em 1em;
}